.container{
     text-align: center;
     background-image: url(https://cdn.dribbble.com/users/108611/screenshots/2766023/attom-bg.gif);
     background-size: cover;
     padding:10%;

}
h3{
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
}

 
 
 #output{ width: 320px;
border-radius: 10px;
box-shadow: inset 5px 5px 3px grey,inset -5px -5px 3px white;

}
.clc{background: rgb(200, 200,200);
padding: 10px;
display: inline-block;
border-radius: 15px;
}
input{ 
font-size: 30px;
width: 70px;
height: 60px;
margin: 5px;
border-radius: 10px;
border: none;
box-shadow: 5px 5px 3px 2px;
 background: rgb(200,200,200);

}
input:hover{
    box-shadow: inset 5px 5px 3px 2px grey,inset -5px -5px 3px 2px white; 
}

.i{
    background-color: rgb(200, 200, 200);
    color: black;
}
.i:hover{ box-shadow: inset 5px 5px 3px rgb(38, 37, 37),inset -5px -5px 5px rgb(43, 41, 40);}